/* main things for styling */
body {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevent horizontal scroll */
}
.indented {
    text-indent: 50px;
}
img {
    height: auto;
}
main {
    padding: 70px; /* Add some padding to the main content */
}
script {
    text-align: center;
}
footer {
    margin-bottom: 20px;
}
/* table stuff */
table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}
table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
/* Form Stuff */
button {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555; /* Slightly lighter dark color on hover */
}

/* Input element styling */
input[type="text"],
input[type="email"],
input[type="checkbox"],
input[type="radio"] {
    border: 1px solid #ccc; /* Border color */
    padding: 8px; /* Padding */
    font-size: 16px; /* Font size */
    margin-bottom: 10px; /* Margin bottom */
}

input[type="checkbox"],
input[type="radio"] {
    width: auto; /* Auto width for checkbox and radio */
    margin-right: 5px; /* Margin right for spacing */
}