<footer>
    <p>Designed by: <a href="antunezdesgined.com/">Franco</a> <i><a href="https://www.freecodecamp.org/certification/fantunez325/responsive-web-design">
        Certified in Responsive Web Design, </a><a href="https://www.freecodecamp.org/certification/fantunez325/javascript-algorithms-and-data-structures-v8">
            Certified in js</a></i></p>

    <div id="footer-links">
        <!-- Footer links will be loaded here -->
    </div>
    <p><strong>Slogan: Simulating The Future of Motorsports</strong></p>
</footer>