<footer>
    <p>Designed by: <a href="antunezdesgined.com/">Franco</a> <i><a href="https://www.freecodecamp.org/certification/fantunez325/responsive-web-design">
        Certified in Responsive Web Design, </a><a href="https://www.freecodecamp.org/certification/fantunez325/javascript-algorithms-and-data-structures-v8">
            Certified in js</a></i></p>

    <a href = "https://www.github.com/francoa325">Github.com</a>~
    <a href = "https://francoa325.github.io/">Github.io</a>~
    <a href = "itis3135/">ITIS3135</a>~
    <a href = "https://www.linkedin.com/in/francisco-antunez-21769322b/">Linkedin</a>
    <p><strong>Slogan: Simulating The Future of Motorsports</strong></p>
</footer>